<div class="container">
    <h1>Angular</h1>
    <hr/>
    <!-- <app-bindings></app-bindings> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-re-usable-component [selected]='isSelApp' (changeEvent)="onComponentEvent()"></app-re-usable-component> -->
    <!-- <app-custom-component>
        <div class="heading">Heading</div>
        <div class="body">
            <h2>Body</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, libero sit adipisci minima corrupti fugit dolore sapiente iusto iure et iste nostrum, asperiores numquam earum cum ex ad optio? Et.</p>
        </div>
    </app-custom-component> -->
   <!--  <app-template-forms></app-template-forms> -->
   <!--  <app-reactive-form></app-reactive-form> -->
    <!-- <app-webservice></app-webservice> -->
    <!-- <app-routing></app-routing> -->
    <!-- <app-dependency-injection></app-dependency-injection> -->
     <todos></todos> 
</div>
